html,
body,
.app{
  height: 100vh;
  background: #eee;
  padding: 1em;
}
.messages {
  height: 440px;
  overflow-y: auto;
  
}
.message__form {
  position: relative !important;
  bottom: 1em;
  left: 0;
  right: 1em;
  z-index: 200;


}

.menu {
  padding-bottom: 2em;
}
.message__self{
  border-left: 2px solid orange;
  padding-left: 8px;
}

.add:hover{
  background-color: whitesmoke;
}